# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Base de datos local
*.db
*.sqlite3

# Archivos temporales
*.tmp